@{
    ViewData["Title"] = "";
}

<div class="jumbotron">
    <h1>The <span class="incredible">Incredible</span> Employee-Department App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the rediculously incredible Employee-Department Application</h2>
        <p>
            The employee / department App is a sample application that
            demonstrates that I, Randall Smith, have some profiency at producing ASP.NET Core MVC web applications.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/pics/EmployeeDepartment.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>