@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>(Legal language detailing KLove's disclosure of what information is collected and what the intent of use of data goes here.) </p>
